@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";


.box-shadow-light {
  box-shadow:
    rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-shadow {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


@theme {
  --color-beige: #ede8e8;
  --color-creme: #f8f6f6;
  --color-forest: #778c72;
  --color-forest-light: #cbd7c9;

  --font-serif: "Cormorant Garamond", serif;
}