---
import Layout from "../layouts/Layout.astro";
import ImageBanner from "../components/ImageBanner.astro";
---

<Layout headerType="large">
  <!-------- Image banner -------->
  <ImageBanner
    title="Gläntans djur och natur"
    text="Din lokala gårdsbutik för djurforder"
    buttonText="Kontakta oss"
    backgroundImage="/images/hero-image.jpg"
  />

  <!-------- ANIMAL BANNER -------->
  <section class="bg-white py-20 px-6">
    <div
      class="flex flex-col md:flex-row justify-center items-center gap-20 max-w-[90%] mx-auto">

      <a href="/shop" class="">
        <div class="text-center">
          <img src="/images/horses.jpg" alt="horse" class="w-30 h-30 object-cover rounded-full mx-auto mb-4"/>
          <h3 class="text-xl font-semibold uppercase text-olive"> Häst </h3>
        </div>
      </a>

      <a href="/shop" class="">
        <div class="text-center">
          <img src="/images/birds.jpg" alt="bird" class="w-30 h-30 object-cover rounded-full mx-auto mb-4"/>
          <h3 class="text-xl font-semibold uppercase text-olive"> Fågel </h3>
        </div>
      </a>

      <a href="/shop" class="">
        <div class="text-center">
          <img src="/images/bunny.jpg" alt="bunny" class="w-30 h-30 object-cover rounded-full mx-auto mb-4"/>
          <h3 class="text-xl font-semibold uppercase text-olive"> Kanin </h3>
        </div>
      </a>

      <a href="/shop" class="">
        <div class="text-center">
          <img src="/images/deer.jpg" alt="deer" class="w-30 h-30 object-cover rounded-full mx-auto mb-4"/>
          <h3 class="text-xl font-semibold uppercase text-olive"> Rådjur </h3>
        </div>
      </a>

      <a href="/shop" class="">
        <div class="text-center">
          <img src="/images/dog.jpg" alt="dog" class="w-30 h-30 object-cover rounded-full mx-auto mb-4"/>
          <h3 class="text-xl font-semibold uppercase text-olive"> Hund </h3>
        </div>
      </a>

      <a href="/shop" class="">
        <div class="text-center">
          <img src="/images/cat.jpg" alt="cat" class="w-30 h-30 object-cover rounded-full mx-auto mb-4"/>
          <h3 class="text-xl font-semibold uppercase text-olive"> Katt </h3>
        </div>
      </a>

    </div>
  </section>

  <!-------- TEXT BANNER -------->
  <section class="bg-white py-8 px-6">
    <div class="max-w-5xl mx-auto text-center">
      <h2 class="text-3xl md:text-3xl uppercase">
        Vi hjälper dig att hitta rätt foder till ditt djur
      </h2>
      <p class="mt-4 text-xl max-w-2xl mx-auto font-thin">
        Vi har ett stort utval av foder och leverantörer för att du ska hitta
        exakt det som passar ditt djur bäst, beställ online eller besök våran
        mysiga gårdsbutik Gläntan. Vi ses där lugnet möter naturen.
      </p>
    </div>
  </section>

  <!-------- PRODUCTS -------->
  <section class="py-16 bg-white">
    <div class="max-w-6xl mx-auto px-6">

      <div class="grid md:grid-cols-4 gap-8">

        <!-------- Button one -------->
        <div class="rounded-lg box-shadow">

          <div class="p-6 bg-champagne"> <!--- Imagee --->
            <img src="/images/dogs.jpg" alt="shop" class="w-60 h-40 object-cover mx-auto mb-4"/>
          </div>

          <div class="p-6"> <!--- Text --->
            <h3 class="text-xl font-semibold mb-2 uppercase"> Valp </h3>
            <p class="mb-4"> Small breed 15kg </p>

            <!--- Button --->
            <a href="/shop" class="inline-block bg-olive text-white font-semibold px-20 py-2 rounded-lg hover:bg-brown-beige transition uppercase"> Köp </a>
          </div>

        </div>

        <!-------- Button two -------->
        <div class="rounded-lg box-shadow">

          <div class="p-6 bg-champagne"> <!--- Image --->
            <img src="/images/dog.jpg" alt="shop" class="w-60 h-40 object-cover mx-auto mb-4"/>
          </div>

          <div class="p-6"> <!--- Text --->
            <h3 class="text-xl font-semibold mb-2 uppercase"> Vuxen </h3>
            <p class="mb-4"> Adult breed 22kg </p>

            <!--- Button --->
            <a href="/shop" class="inline-block bg-olive text-white font-semibold px-20 py-2 rounded-lg hover:bg-brown-beige transition uppercase"> Köp </a>
          </div>

        </div>

        <!-------- Button three -------->
        <div class="rounded-lg box-shadow">

          <div class="p-6 bg-champagne"> <!--- Image --->
            <img src="/images/cows.jpg" alt="shop" class="w-60 h-40 object-cover mx-auto mb-4"/>
          </div>

          <div class="p-6"> <!--- Text --->
            <h3 class="text-xl font-semibold mb-2 uppercase"> Allergisk </h3>
            <p class="mb-4"> Alergic breed 10kg </p>

            <!--- Button --->
            <a href="/shop" class="inline-block bg-olive text-white font-semibold px-20 py-2 rounded-lg hover:bg-brown-beige transition uppercase"> Köp </a>
          </div>

        </div>

        <!-------- Button four -------->
        <div class="rounded-lg box-shadow">

          <div class="p-6 bg-champagne"> <!--- Image --->
            <img src="/images/bunny-1.jpg" alt="shop" class="w-60 h-40 object-cover mx-auto mb-4"/>
          </div>

          <div class="p-6"> <!--- Text --->
            <h3 class="text-xl font-semibold mb-2 uppercase"> Vegansk </h3>
            <p class="mb-4"> Vegan breed 8kg </p>

            <!--- Button --->
            <a href="/shop" class="inline-block bg-olive text-white font-semibold px-20 py-2 rounded-lg hover:bg-brown-beige transition uppercase"> Köp </a>
          </div>

        </div>

      </div>

      <!-------- Button to shop -------->
      <a href="/shop" class="inline-block mt-15 ml-3 uppercase text-olive hover:border-b-1"> Våra erbjudanden → </a>

    </div>
  </section>

  <!-------- Call to action -------->
  <section class="py-16 bg-champagne text-olive text-center max-w-[90%] mx-auto mb-16">

    <h2 class="text-3xl font-bold mb-4 uppercase"> Har vi inte din vara i vårt sortiment? </h2>
    <p class="mb-6 text-xl uppercase font-thin"> Skriv till oss så ser vi om vi kan lösa det. </p>

    <!-------- Button -------->
    <a href="/kontakt" class="inline-block bg-olive text-white font-semibold px-6 py-3 rounded-lg hover:bg-brown-beige transition uppercase"> Kontakta oss </a>

  </section>

</Layout>
