<!------------------------------- Återsäljare och priser ------------------------------->
<!-- <div class="border-b border-green-color" x-data="{ selected: null }">

        {% for item in include.accordion-source %}

            <div class="relative border-t border-green-color text-green-color">

                <button type="button" class="py-6 block w-full" 
                        @click="selected !== {{ forloop.index }} ? selected = {{ forloop.index }} : selected = null">
                    <div class="flex items-center justify-between">
                        <h4 class="mb-0 uppercase tracking-wide font-heading font-bold text-xl"> 
                            <span class="font-normal text-middle-green-color text-3xl mr-2 px-3 py-3">
                                {% if forloop.index < 10 %}0{% endif %}{{ forloop.index }}.
                            </span> 
                            {{ item.question }} 
                        </h4>
                        <span class="transition-all duration-500" x-bind:style="selected == {{ forloop.index }} ? 'transform: rotate(-180deg);' : ''">  -->
                             <!-- Iconoir Arrow --> 
                            <!-- <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 8V16M12 16L15.5 12.5M12 16L8.5 12.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </span>
                    </div>
                </button>

                <div class="relative overflow-hidden transition-all max-h-0 duration-700" 
                		style="" x-ref="container{{ forloop.index }}" 
                		x-bind:style="selected == {{ forloop.index }} ? 'max-height: ' +  $refs.container{{ forloop.index }}.scrollHeight + 'px' : ''">
                    <div class="pb-6">
                        <span class="font-cursive text-3xl ml-20"> Svar: </span>
                        <p class="mb-0 mt-2 ml-20 m-w-sm font-normal"> 
                            {{ item.answer }} 
                        </p>
                    </div>
                </div>

            </div>

        {% endfor %}
</div> -->