
<!------------------------------- About us ------------------------------->
  <section class="bg-white py-20 px-6">  </h2>
    <div class="flex flex-col md:flex-row justify-center items-center gap-20">
      <div class="text-center">
        <img src="/images/ann-urb.jpg" alt="ann-louise" class="w-40 h-40 object-cover rounded-xl mx-auto mb-4" />
        <h3 class="text-xl font-semibold uppercase"> Ann-Louise </h3>
        <p class="text-md text-gray-700"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam odio voluptatibus ipsam minima, fugit, perspiciatis dolorum vel rem quaerat labore at aut doloremque necessitatibus eaque minus velit corrupti officia dolor? </p>
      </div>
      <div class="text-center">
        <img src="/images/hundar.jpg" alt="hundar" class="w-40 h-40 object-cover rounded-xl mx-auto mb-4" />
        <h3 class="text-xl font-semibold uppercase"> Våra hundar </h3>
        <p class="text-md text-gray-700"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque, exercitationem quis quia harum nobis deleniti iste numquam voluptates doloribus earum, delectus ipsum vel tenetur magni id reprehenderit vitae ipsa. </p>
      </div>
          <div class="text-center">
        <img src="/images/ann-urb.jpg" alt="urban" class="w-40 h-40 object-cover rounded-xl mx-auto mb-4" />
        <h3 class="text-xl font-semibold uppercase"> Urban </h3>
        <p class="text-md text-gray-700"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa at quisquam iste tenetur laudantium, rerum est veritatis cum impedit modi sapiente enim, non cumque, consectetur ut ea. Impedit, deserunt nemo! </p>
    </div>
  </section>

<!------------------------------- Timeline section ------------------------------->
  <section class="bg-beige py-20 px-6">
    <h2 class="text-3xl font-bold text-center mb-12 uppercase text-olive"> Vem är vi? </h2>
    <div class="max-w-3xl mx-auto space-y-8">
      <div class="border-l-3 border-olive pl-4">
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, esse. Quae assumenda nobis recusandae, eos deleniti, fugit itaque corrupti rerum nam velit quidem dolore earum alias laborum illum quaerat accusamus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias praesentium sint voluptates, earum ut voluptatum id ea distinctio fugit nisi in ab, necessitatibus magni aut vero laudantium. Atque, sed quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quibusdam debitis quas a eligendi repellat neque commodi totam ducimus! Amet accusantium praesentium quod ullam asperiores at accusamus corporis optio porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minus cupiditate nam saepe quia quo sint animi voluptas doloremque voluptatum, dignissimos sed, voluptate maiores nihil molestiae illum totam impedit facere?
        </p>
      </div>
    </div>
  </section>

 <!------------------------------- Contact banner ------------------------------->
  <section class="bg-olive text-white py-20 px-6 text-center">
    <h2 class="text-3xl font-bold mb-4 uppercase"> Köp det bästa till just ditt djur </h2>
    <p class="mb-8"> Kom till oss på Gläntan eller besök vår online shop </p>
   <a href="/contact" class="inline-block bg-brown-beige border-white text-white font-semibold px-6 py-3 rounded-lg hover:border hover:bg-olive transition uppercase"> Kontakta oss </a>
  </section>

  <section class="bg-white py-24 px-6">
  <div class="max-w-5xl mx-auto space-y-20">

    <!-------- Harads -------->
    <div class="flex flex-col md:flex-row items-center gap-20">
      <div class="w-full md:w-1/2 h-64 overflow-hidden rounded-lg shadow">
        <img src="/images/glantan.jpg" alt="harads" class="w-full h-full object-cover" />
      </div>
      <div class="md:w-1/2 text-center md:text-left">
        <h3 class="text-2xl font-bold text-olive uppercase"> Harads - vår stad </h3>
        <p class="mt-2 text-gray-700"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil doloribus aliquam amet accusantium dolorem nisi, harum distinctio fugiat esse non corrupti magnam optio omnis. Porro perspiciatis quidem dolores suscipit libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius asperiores nihil modi deleniti omnis esse voluptas vitae odio ad? Dicta optio blanditiis animi repellat consectetur nemo omnis quidem adipisci in? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia ratione nihil earum corporis reprehenderit quod eligendi neque mollitia qui molestiae veritatis, amet, animi sit in aut expedita repellendus sequi iusto! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quo enim hic mollitia. Harum aspernatur nulla eos autem. In, quaerat? Doloribus consequatur rerum vitae laudantium aliquid iste debitis qui! Non. </p>
      </div>
    </div>

    <!-------- Drömmen -------->
    <div class="flex flex-col-reverse md:flex-row items-center gap-20">
      <div class="md:w-1/2 text-center md:text-left">
        <h3 class="text-2xl font-bold text-olive uppercase"> Från dröm till verklighet </h3>
        <p class="mt-2 text-gray-700"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quasi corrupti molestiae, doloremque dicta adipisci unde eos distinctio culpa minus praesentium. Neque velit obcaecati ab distinctio, doloremque quam eligendi sapiente? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolor nisi architecto omnis quas quaerat? Unde mollitia placeat illo atque numquam blanditiis enim voluptas corrupti, at molestiae voluptatem quod explicabo. </p>
      </div>
      <div class="w-full md:w-1/2 h-64 overflow-hidden rounded-lg shadow">
        <img src="/images/hundar.jpg" alt="drömmen" class="w-full h-full object-cover" />
      </div>
    </div>

    <!-------- Drivet -------->
    <div class="flex flex-col md:flex-row items-center gap-20">
      <div class="w-full md:w-1/2 h-64 overflow-hidden rounded-lg shadow">
        <img src="/images/hund.jpg" alt="drivet" class="w-full h-full object-cover" />
      </div>
      <div class="md:w-1/2 text-center md:text-left">
        <h3 class="text-2xl font-bold text-olive uppercase"> Drivet mot nya äventyr </h3>
        <p class="mt-2 text-gray-700"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad alias voluptatem, aliquid dolores fuga cum recusandae cupiditate ipsam porro accusantium ea corpo dolores non reprehenderit? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente labore recusandae saepe provident reiciendis eos corporis minima perferendis doloremque. Deserunt voluptates accusamus quos vitae corrupti doloremque dicta atque quam nemo? Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
      </div>
    </div>

    <!-------- Verklighet -------->
    <div class="flex flex-col-reverse md:flex-row items-center gap-20">
      <div class="md:w-1/2 text-center md:text-left">
        <h3 class="text-2xl font-bold text-olive uppercase"> Längtan till något eget </h3>
        <p class="mt-2 text-gray-700"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta a neque natus deleniti enim aliquam nostrum provident vero repellendus nulla! Facere nostrum debitis perferendis eos rem cupiditate vel reprehenderit maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quisquam qui esse quia eum laborum repellat maiores earum nihil neque enim, atque optio. Doloremque maiores impedit quasi accusantium, eius deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fuga odio adipisci, offic consectetur adipisicing elit. Inventore necessitatibus omnis odit iusto voluptas ad temporibus eum. Praesentium qui vero enim accusamus velit id adipisci reiciendis. Vel eos ullam atque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi neque facilis possimus sit repellat nostrum eius voluptatem architecto, rerum incidunt dolor, cupiditate odio optio quibusdam! Cumque neque ipsum sequi consequatur.</p>
      </div>
      <div class="w-full md:w-1/2 h-64 overflow-hidden rounded-lg shadow">
        <img src="/images/gang-glantan.jpg" alt="verklighet" class="w-full h-full object-cover" />
      </div>
    </div>
  </div>
</section>

</Layout>