---
const links1 = [
  { name: "Hem", href: "/" },
  { name: "Gläntan", href: "/about" },
];
const links2 = [
  { name: "Butik", href: "/shop" },
  { name: "Kontakt", href: "/contact" },
];
---
<!------------------------------- Header small ------------------------------->
<header class="h-21 sticky top-0 z-50 bg-champagne p-10 flex items-center justify-center gap-18 shadow-md">
  
  <!-------- Navigation part 1-------->
  <nav class="space-x-6 uppercase">
    {links1.map(link => (
      <a href={link.href} class="text-olive text-lg hover:text-brown-beige transition">
        {link.name}
      </a>
    ))}
  </nav>

  <!-------- Logo -------->
  <a href="/" class="">
    <img src="/images/logo-round.png" alt="Gläntans djur och natur" class="h-20 w-auto"/>
  </a>

  <!-------- Navigation part 2 -------->
  <nav class="space-x-6 uppercase">
    {links2.map(link => (
      <a href={link.href} class="text-olive text-lg hover:text-brown-beige transition">
        {link.name}
      </a>
    ))}
  </nav>

</header>