---
const {
  title,
  text,
  backgroundImage = "/images/hero-image.jpg",
} = Astro.props;
---

<section class="relative bg-gray-100 py-24 px-6 max-w-[90%] mx-auto mt-16">
  <!-------- Background image -------->
  <div
    class="absolute inset-0 z-0 bg-cover bg-center opacity-40"
    style={`background-image: url('${backgroundImage}')`}
  >
  </div>

  <div class="relative z-10 max-w-4xl mx-auto text-center">
    <h1 class="text-5xl font-bold text-olive"> <!--- Image text --->
      {title}
    </h1>
    <p class="mt-4 text-xl uppercase font-thin text-black"> <!--- Image paragraph --->
      {text}
    </p>

  </div>
</section>
