---
const {
  title,
  text,
  backgroundImage = "/images/contact-hero.jpg",
  backgroundPosition = "center",

} = Astro.props;
---

<section class="relative bg-gray-100 py-24 px-6 mx-auto">

  <div class="absolute inset-0 z-0 bg-cover bg-center opacity-45 bg-no-repeat" style={`background-image: url('${backgroundImage}'); background-position: ${backgroundPosition};`}> </div> <!-------- Background image -------->

  <!-------- Image text -------->
  <div class="relative z-10 w-[25%] text-center">
    <h1 class="text-4xl md:text-5xl font-bold text-olive uppercase">
      {title}
    </h1>
    <p class="mt-4 text-xl text-black font-thin">
      {text}
    </p>
   
  </div>
</section>
