---
import Header from "../components/Header.astro";
import HeaderSmall from "../components/HeaderSmall.astro";

const { headerType = "small" } = Astro.props;

import Footer from '../components/Footer.astro';
import '../styles/global.css'; // Importera globala stilar
---

<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Gläntan Djur och Natur </title>
  </head>
  <body class="font-serif text-gray-800">
    
        {
      headerType === "large"
        ? <Header />
        : <HeaderSmall />
    }


    
    <main>
      <slot />  <!-- Här injiceras sidinnehållet -->
    </main>
    
    <Footer />

  </body>
</html>

    <!------ Header sticky -->
    <script is:inline>
  if (typeof window !== "undefined") {
    const header = document.getElementById("site-header");

    const onScroll = () => {
      const scrolled = window.scrollY > 120; // höjd där det ska krympa

      if (!header) return;

      if (scrolled) {
        // LITEN HEADER
        header.classList.remove("h-[50vh]");
        header.classList.add("h-20", "bg-champagne/90", "shadow-md");
      } else {
        // STOR HEADER
        header.classList.add("h-[50vh]");
        header.classList.remove("h-20");
        // om du vill att den ska vara mer transparent i toppen:
        // header.classList.remove("bg-champagne/90");
      }
    };

    window.addEventListener("scroll", onScroll);
    onScroll(); // kör en gång vid load
  }
    </script>